<!doctype html>
<html>
<head>
     <title>Assignment</title>
</head>
<body>
    <h2>Heart Rate Stats: </h2>
    <ul>
        <li>Mean=<%=meanHeartRate%></li>
        <li>Min=<%=minimumHeartRate%></li>
        <li>Max=<%=maximumHeartRate%></li>
        <li>Meadian=<%=medianHeartRate%></li>
    </ul>
</body>
</html>
