<!doctype html>
<html>
<head>
     <title>Assignment</title>
</head>
<body>
    <h2>No of times routed to hello URI:</h2>
    <ul>
        <li>timesHelloed=<%=timesHelloed%></li>
    </ul>
</body>
</html>
